In [1]:
import random
import pickle

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# models
import sklearn
import sktime

# model selection and metrics
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_absolute_error
from sklearn.feature_selection import RFE

# our functions
from data_preparation import *
from models import *

# constants
PROCESSED_DATA_PATH = '../data/processed-data/'
MODEL_PATH = '../models/trained-models/'
TARGET_COLS = ['target1', 'target2', 'target3', 'target4']
TEST_SPLIT_DATE = '2021-04-30'

# disable warnings
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
pd.options.mode.chained_assignment = None  # default='warn'

# Loading and preparing data

## Targets df

In [2]:
%%time
df = pd.read_pickle(PROCESSED_DATA_PATH + 'shifted_targets.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2695788 entries, 0 to 2695787
Data columns (total 43 columns):
 #   Column            Dtype
---  ------            -----
 0   Dt                datetime64[ns]
 1   IdPlayer          int64
 2   target1           float32
 3   target2           float32
 4   target3           float32
 5   target4           float32
 6   IdDtPlayer        object
 7   target1_shift_1   float32
 8   target2_shift_1   float32
 9   target3_shift_1   float32
 10  target4_shift_1   float32
 11  target1_shift_2   float32
 12  target2_shift_2   float32
 13  target3_shift_2   float32
 14  target4_shift_2   float32
 15  target1_shift_3   float32
 16  target2_shift_3   float32
 17  target3_shift_3   float32
 18  target4_shift_3   float32
 19  target1_shift_4   float32
 20  target2_shift_4   float32
 21  target3_shift_4   float32
 22  target4_shift_4   float32
 23  target1_shift_5   float32
 24  target2_shift_5   float32
 25  target3_shift_5   float32
 26  target4_shift_5   float32
 27  target1_shift_6   float32
 28  target2_shift_6   float32
 29  target3_shift_6   float32
 30  target4_shift_6   float32
 31  target1_shift_7   float32
 32  target2_shift_7   float32
 33  target3_shift_7   float32
 34  target4_shift_7   float32
 35  target1_shift_14  float32
 36  target2_shift_14  float32
 37  target3_shift_14  float32
 38  target4_shift_14  float32
 39  target1_shift_30  float32
 40  target2_shift_30  float32
 41  target3_shift_30  float32
 42  target4_shift_30  float32
dtypes: datetime64[ns](1), float32(40), int64(1), object(1)
memory usage: 493.6+ MB
CPU times: user 717 ms, sys: 1.23 s, total: 1.95 s
Wall time: 1.94 s

In [3]:
# dropping the columns with a high shift
for i in range(4):
    for shift in [6, 7, 14, 30]:
        df.drop(f'target{i+1}_shift_{shift}', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2695788 entries, 0 to 2695787
Data columns (total 27 columns):
 #   Column           Dtype
---  ------           -----
 0   Dt               datetime64[ns]
 1   IdPlayer         int64
 2   target1          float32
 3   target2          float32
 4   target3          float32
 5   target4          float32
 6   IdDtPlayer       object
 7   target1_shift_1  float32
 8   target2_shift_1  float32
 9   target3_shift_1  float32
 10  target4_shift_1  float32
 11  target1_shift_2  float32
 12  target2_shift_2  float32
 13  target3_shift_2  float32
 14  target4_shift_2  float32
 15  target1_shift_3  float32
 16  target2_shift_3  float32
 17  target3_shift_3  float32
 18  target4_shift_3  float32
 19  target1_shift_4  float32
 20  target2_shift_4  float32
 21  target3_shift_4  float32
 22  target4_shift_4  float32
 23  target1_shift_5  float32
 24  target2_shift_5  float32
 25  target3_shift_5  float32
 26  target4_shift_5  float32
dtypes: datetime64[ns](1), float32(24), int64(1), object(1)
memory usage: 329.1+ MB

In [4]:
df.shape

(2695788, 27)

In [5]:
df = df.drop_duplicates(subset=['IdDtPlayer'])
df.shape

(2695788, 27)

In [6]:
len(df.IdDtPlayer.unique())

2695788

In [7]:
%%time
def add_hour_to_id(df):
    df['IdDtPlayer'] = df['IdDtPlayer'].apply(lambda x: x[:10] + ' 00:00:00' + x[10:])

df_playerBoxScores = pd.read_pickle(PROCESSED_DATA_PATH + 'playerBoxScores.pkl')
add_hour_to_id(df_playerBoxScores)
df_playerBoxScores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 219727 entries, 0 to 451
Data columns (total 54 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IdGame                    219727 non-null  int64
 1   DtGame                    219727 non-null  object
 2   DtGameUTC                 219727 non-null  object
 3   IdPlayer                  219727 non-null  int64
 4   IdTeam                    219727 non-null  int64
 5   NuJersey                  219690 non-null  object
 6   CdPosition                219727 non-null  int64
 7   NuStrikeOutsPitching      65466 non-null   float64
 8   NuBattingOrder            183390 non-null  float64
 9   NuGamesPlayedBatting      183395 non-null  float64
 10  NuFlyOuts                 183395 non-null  float64
 11  NuGroundOuts              183395 non-null  float64
 12  NuRunsScored              183395 non-null  float64
 13  NuDoubles                 183395 non-null  float64
 14  NuTriples                 183395 non-null  float64
 15  NuHomeRuns                183395 non-null  float64
 16  NuStrikeOuts              183395 non-null  float64
 17  NuBaseOnBalls             183395 non-null  float64
 18  NuIntentionalWalks        183395 non-null  float64
 19  NuHits                    183395 non-null  float64
 20  NuHitByPitch              183395 non-null  float64
 21  NuAtBats                  183395 non-null  float64
 22  NuCaughtStealing          183395 non-null  float64
 23  NuStolenBases             183395 non-null  float64
 24  NuGroundIntoDoublePlay    183395 non-null  float64
 25  NuGroundIntoTriplePlay    183395 non-null  float64
 26  NuPlateAppearances        183395 non-null  float64
 27  NuTotalBases              183395 non-null  float64
 28  NuRbi                     183395 non-null  float64
 29  NuLeftOnBase              183395 non-null  float64
 30  NuSacBunts                183395 non-null  float64
 31  NuSacFlies                183395 non-null  float64
 32  NuCatchersInterference    183395 non-null  float64
 33  NuPickoffs                183395 non-null  float64
 34  NuInningsPitched          65466 non-null   float64
 35  NuSaveOpportunities       65466 non-null   float64
 36  NuEarnedRuns              65466 non-null   float64
 37  NuBattersFaced            65466 non-null   float64
 38  NuPitchesThrown           65466 non-null   float64
 39  NuBalls                   65466 non-null   float64
 40  NuStrikes                 65466 non-null   float64
 41  NuHitBatsmen              65466 non-null   float64
 42  NuBalks                   65466 non-null   float64
 43  NuWildPitches             65466 non-null   float64
 44  NuInheritedRunners        65466 non-null   float64
 45  NuInheritedRunnersScored  65466 non-null   float64
 46  NuSaves                   55638 non-null   float64
 47  NuHolds                   55638 non-null   float64
 48  NuBlownSaves              55638 non-null   float64
 49  NuAssists                 185386 non-null  float64
 50  NuPutOuts                 185386 non-null  float64
 51  NuErrors                  185386 non-null  float64
 52  NuChances                 185386 non-null  float64
 53  IdDtPlayer                219727 non-null  object
dtypes: float64(46), int64(4), object(4)
memory usage: 92.2+ MB
CPU times: user 919 ms, sys: 259 ms, total: 1.18 s
Wall time: 1.25 s

In [8]:
df_join = pd.merge(df, df_playerBoxScores, on=['IdDtPlayer'], how='left')
df_join.head()

,Dt,IdPlayer_x,target1,target2,target3,target4,IdDtPlayer,target1_shift_1,target2_shift_1,target3_shift_1,...,NuWildPitches,NuInheritedRunners,NuInheritedRunnersScored,NuSaves,NuHolds,NuBlownSaves,NuAssists,NuPutOuts,NuErrors,NuChances
0,2018-01-01,112526,0.055277,5.496109,0.025839,16.176470,2018-01-01 00:00:00_112526,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,112526,0.060625,3.252914,0.030486,8.541353,2018-01-02 00:00:00_112526,0.055277,5.496109,0.025839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-03,112526,0.029341,1.648352,0.032613,10.490111,2018-01-03 00:00:00_112526,0.060625,3.252914,0.030486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-04,112526,0.014799,2.665894,0.087422,19.091467,2018-01-04 00:00:00_112526,0.029341,1.648352,0.032613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-05,112526,0.083916,1.161002,0.024759,6.643879,2018-01-05 00:00:00_112526,0.014799,2.665894,0.087422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
%%time
df_join.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2698457 entries, 0 to 2698456
Data columns (total 80 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Dt                        2698457 non-null  datetime64[ns]
 1   IdPlayer_x                2698457 non-null  int64
 2   target1                   2698457 non-null  float32
 3   target2                   2698457 non-null  float32
 4   target3                   2698457 non-null  float32
 5   target4                   2698457 non-null  float32
 6   IdDtPlayer                2698457 non-null  object
 7   target1_shift_1           2696396 non-null  float32
 8   target2_shift_1           2696396 non-null  float32
 9   target3_shift_1           2696396 non-null  float32
 10  target4_shift_1           2696396 non-null  float32
 11  target1_shift_2           2694335 non-null  float32
 12  target2_shift_2           2694335 non-null  float32
 13  target3_shift_2           2694335 non-null  float32
 14  target4_shift_2           2694335 non-null  float32
 15  target1_shift_3           2692274 non-null  float32
 16  target2_shift_3           2692274 non-null  float32
 17  target3_shift_3           2692274 non-null  float32
 18  target4_shift_3           2692274 non-null  float32
 19  target1_shift_4           2690213 non-null  float32
 20  target2_shift_4           2690213 non-null  float32
 21  target3_shift_4           2690213 non-null  float32
 22  target4_shift_4           2690213 non-null  float32
 23  target1_shift_5           2688152 non-null  float32
 24  target2_shift_5           2688152 non-null  float32
 25  target3_shift_5           2688152 non-null  float32
 26  target4_shift_5           2688152 non-null  float32
 27  IdGame                    218800 non-null   float64
 28  DtGame                    218800 non-null   object
 29  DtGameUTC                 218800 non-null   object
 30  IdPlayer_y                218800 non-null   float64
 31  IdTeam                    218800 non-null   float64
 32  NuJersey                  218763 non-null   object
 33  CdPosition                218800 non-null   float64
 34  NuStrikeOutsPitching      65252 non-null    float64
 35  NuBattingOrder            182559 non-null   float64
 36  NuGamesPlayedBatting      182564 non-null   float64
 37  NuFlyOuts                 182564 non-null   float64
 38  NuGroundOuts              182564 non-null   float64
 39  NuRunsScored              182564 non-null   float64
 40  NuDoubles                 182564 non-null   float64
 41  NuTriples                 182564 non-null   float64
 42  NuHomeRuns                182564 non-null   float64
 43  NuStrikeOuts              182564 non-null   float64
 44  NuBaseOnBalls             182564 non-null   float64
 45  NuIntentionalWalks        182564 non-null   float64
 46  NuHits                    182564 non-null   float64
 47  NuHitByPitch              182564 non-null   float64
 48  NuAtBats                  182564 non-null   float64
 49  NuCaughtStealing          182564 non-null   float64
 50  NuStolenBases             182564 non-null   float64
 51  NuGroundIntoDoublePlay    182564 non-null   float64
 52  NuGroundIntoTriplePlay    182564 non-null   float64
 53  NuPlateAppearances        182564 non-null   float64
 54  NuTotalBases              182564 non-null   float64
 55  NuRbi                     182564 non-null   float64
 56  NuLeftOnBase              182564 non-null   float64
 57  NuSacBunts                182564 non-null   float64
 58  NuSacFlies                182564 non-null   float64
 59  NuCatchersInterference    182564 non-null   float64
 60  NuPickoffs                182564 non-null   float64
 61  NuInningsPitched          65252 non-null    float64
 62  NuSaveOpportunities       65252 non-null    float64
 63  NuEarnedRuns              65252 non-null    float64
 64  NuBattersFaced            65252 non-null    float64
 65  NuPitchesThrown           65252 non-null    float64
 66  NuBalls                   65252 non-null    float64
 67  NuStrikes                 65252 non-null    float64
 68  NuHitBatsmen              65252 non-null    float64
 69  NuBalks                   65252 non-null    float64
 70  NuWildPitches             65252 non-null    float64
 71  NuInheritedRunners        65252 non-null    float64
 72  NuInheritedRunnersScored  65252 non-null    float64
 73  NuSaves                   55424 non-null    float64
 74  NuHolds                   55424 non-null    float64
 75  NuBlownSaves              55424 non-null    float64
 76  NuAssists                 184461 non-null   float64
 77  NuPutOuts                 184461 non-null   float64
 78  NuErrors                  184461 non-null   float64
 79  NuChances                 184461 non-null   float64
dtypes: datetime64[ns](1), float32(24), float64(50), int64(1), object(4)
memory usage: 1.4+ GB

In [10]:
del df
df = df_join.copy()
del df_join
del df_playerBoxScores

In [11]:
df.rename(columns={'IdPlayer_x': 'IdPlayer'}, inplace=True)

## Train Test Split

In [12]:
%%time
train, test = train_test_split(df)
x_train, y_train = x_y_split(train)
x_test, y_test = x_y_split(test)
print(f'Train shape: {x_train.shape}, Test shape: {x_test.shape}')
del df

Train shape: (2508359, 76), Test shape: (190098, 76)
CPU times: user 2.32 s, sys: 7.5 s, total: 9.82 s
Wall time: 9.85 s

# Models

In [16]:
y_pred_naive = naive(test)
mean = MeanModel()
mean.fit(train)
y_pred_mean = mean.predict(test)
del mean

In [17]:
evals_df = pd.DataFrame(columns=['model', 'target1', 'target2', 'target3', 'target4'])
evals_df = evals_df.append({'model': 'naive', **evaluate_mae(y_test, y_pred_naive)}, ignore_index=True)
evals_df = evals_df.append({'model': 'mean', **evaluate_mae(y_test, y_pred_mean)}, ignore_index=True)
evals_df

   model   target1   target2   target3   target4
0  naive  0.805882  1.354502  0.631820  0.812060
1   mean  0.951045  2.255654  0.960717  1.028092